In [18]:
import os
from costas.acquisition import parser
from astropy.table import Table, vstack

In [23]:
flag = False
for filename in os.listdir('ASAS Original Data/00'):
     # Iteramos sobre cada archivo de la carpeta, para analizar todas las estrellas
    temp = parser('ASAS Original Data/00/' + filename)
    if( flag == False ):
        data = temp
        flag = True
    else:
        data = vstack([data, temp])

Verificamos que hayamos cargado efectivamente todas las estrellas de la carpeta

In [24]:
datadf = data.to_pandas()
datadf

,HJD,MAG_3,MAG_0,MAG_1,MAG_2,MAG_4,MER_3,MER_0,MER_1,MER_2,MER_4,GRADE,FRAME,RA,DEC
0,1869.52275,9.882,9.905,9.887,9.883,9.879,0.021,0.042,0.020,0.018,0.024,A,193.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
1,1871.60719,9.911,9.953,9.928,9.915,9.918,0.026,0.072,0.030,0.024,0.027,A,507.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
2,1873.57974,9.986,10.033,10.002,9.996,9.990,0.024,0.065,0.026,0.022,0.028,A,818.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
3,1875.57412,10.032,10.027,10.012,10.030,10.035,0.025,0.066,0.027,0.023,0.027,A,1138.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
4,1879.56694,10.094,10.131,10.109,10.099,10.093,0.023,0.043,0.025,0.021,0.024,A,1770.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288978,4408.53751,10.021,9.964,10.015,10.016,10.012,0.032,0.043,0.032,0.029,0.037,A,245694.0,0.306944 00:18:25.0,23.409515 23:24:34.3
288979,4443.53186,10.007,10.053,10.012,10.004,10.012,0.035,0.068,0.039,0.033,0.038,A,248945.0,0.306944 00:18:25.0,23.409515 23:24:34.3
288980,4449.54774,10.021,10.038,10.024,10.019,10.024,0.038,0.062,0.039,0.034,0.042,A,249607.0,0.306944 00:18:25.0,23.409515 23:24:34.3
288981,4454.55605,10.048,10.032,10.033,10.037,10.066,0.052,0.072,0.048,0.045,0.060,A,250211.0,0.306944 00:18:25.0,23.409515 23:24:34.3
288982,4458.54026,10.073,10.246,10.110,10.086,10.099,0.044,0.071,0.044,0.039,0.052,A,250664.0,0.306944 00:18:25.0,23.409515 23:24:34.3

Como primera fase de preprocesamiento filtraremos los datos segun el grado de la medicion.

En este caso mantendremos aquellas mediciones con grados A y B

In [25]:
from costas.filter import grade_filter

Guardaremos en tablas distintas las mediciones A y B

In [30]:
A_data = grade_filter(data, ["A"])
B_data = grade_filter(data, ["B"])

In [28]:
datadf = A_data.to_pandas()
datadf

,HJD,MAG_3,MAG_0,MAG_1,MAG_2,MAG_4,MER_3,MER_0,MER_1,MER_2,MER_4,GRADE,FRAME,RA,DEC
0,1869.52275,9.882,9.905,9.887,9.883,9.879,0.021,0.042,0.020,0.018,0.024,A,193.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
1,2578.68842,10.965,10.918,10.938,10.966,10.961,0.026,0.033,0.035,0.025,0.022,A,24967.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
2,2620.57565,10.805,10.804,10.775,10.793,10.808,0.027,0.054,0.044,0.030,0.025,A,29444.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
3,2624.64199,10.788,10.751,10.793,10.783,10.786,0.026,0.036,0.023,0.024,0.030,A,30253.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
4,2627.65078,10.764,10.807,10.777,10.771,10.762,0.026,0.023,0.023,0.024,0.030,A,30577.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221635,2968.55774,10.858,10.881,10.857,10.862,10.862,0.024,0.026,0.024,0.022,0.027,A,81872.0,0.772996 00:46:22.8,25.382158 25:22:55.8
221636,3280.64884,10.661,10.649,10.660,10.669,10.696,0.041,0.040,0.034,0.034,0.050,A,117102.0,0.773031 00:46:22.9,25.382163 25:22:55.8
221637,2990.61153,10.120,10.137,10.110,10.120,10.116,0.028,0.027,0.027,0.025,0.032,A,84635.0,0.452449 00:27:08.8,-84.608978 -84:36:32.3
221638,3647.63698,12.949,12.719,12.822,12.851,13.007,0.028,0.034,0.034,0.028,0.029,A,160904.0,0.750934 00:45:03.4,-73.091168 -73:05:28.2
221639,3655.62791,10.770,10.749,10.767,10.753,10.790,0.028,0.037,0.026,0.025,0.033,A,162014.0,0.773031 00:46:22.9,25.382163 25:22:55.8

In [29]:
datadf = B_data.to_pandas()
datadf

,HJD,MAG_3,MAG_0,MAG_1,MAG_2,MAG_4,MER_3,MER_0,MER_1,MER_2,MER_4,GRADE,FRAME,RA,DEC
0,3615.64531,12.068,11.993,12.004,12.031,12.103,0.041,0.061,0.045,0.045,0.046,B,156899.0,0.895343 00:53:43.2,-72.287614 -72:17:15.4
1,3663.66246,11.587,11.635,11.583,11.586,11.587,0.043,0.078,0.044,0.040,0.048,B,163220.0,0.069891 00:04:11.6,-20.918504 -20:55:06.6
2,4437.54714,11.385,11.477,11.433,11.425,11.375,0.049,0.071,0.049,0.046,0.055,B,248249.0,0.069891 00:04:11.6,-20.918504 -20:55:06.6
3,2039.91843,12.262,12.147,12.267,12.263,12.267,0.036,0.077,0.036,0.032,0.038,B,19359.0,0.953311 00:57:11.9,-19.596475 -19:35:47.3
4,4092.62459,13.633,13.590,13.568,13.571,13.688,0.043,0.073,0.046,0.039,0.047,B,209511.0,0.654738 00:39:17.1,-72.033234 -72:01:59.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25746,3352.56508,11.366,11.415,11.382,11.361,11.350,0.049,0.099,0.051,0.045,0.052,B,123968.0,0.913244 00:54:47.7,23.119741 23:07:11.1
25747,3615.63452,12.472,12.557,12.580,12.540,12.414,0.042,0.061,0.051,0.052,0.055,B,156895.0,0.350129 00:21:00.5,-75.792172 -75:47:31.8
25748,4268.89291,9.551,9.523,9.495,9.522,9.555,0.062,0.054,0.051,0.054,0.069,B,228071.0,0.230427 00:13:49.5,25.551959 25:33:07.1
25749,3340.68026,11.313,11.292,11.316,11.321,11.354,0.056,0.084,0.055,0.052,0.062,B,122695.0,0.913244 00:54:47.7,23.119741 23:07:11.1
25750,3579.87521,12.957,13.375,13.226,13.089,12.968,0.045,0.077,0.044,0.040,0.048,B,152236.0,0.360230 00:21:36.8,5.227910 05:13:40.5

Ahora preprocesamos nuestros datos

In [32]:
from costas.preprocessing import preprocessing

In [34]:
A_data = preprocessing(A_data, "2")
datadf = A_data.to_pandas()
datadf

,HJD,MAG_3,MAG_0,MAG_1,MAG_2,MAG_4,MER_3,MER_0,MER_1,MER_2,MER_4,GRADE,FRAME,RA,DEC
0,1869.52275,9.882,9.905,9.887,9.883,9.879,0.021,0.042,0.020,0.018,0.024,A,193.0,0.021658 00:01:18.0,-35.860717 -35:51:38.6
1,2578.68842,10.965,10.918,10.938,10.966,10.961,0.026,0.033,0.035,0.025,0.022,A,24967.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
2,2620.57565,10.805,10.804,10.775,10.793,10.808,0.027,0.054,0.044,0.030,0.025,A,29444.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
3,2624.64199,10.788,10.751,10.793,10.783,10.786,0.026,0.036,0.023,0.024,0.030,A,30253.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
4,2627.65078,10.764,10.807,10.777,10.771,10.762,0.026,0.023,0.023,0.024,0.030,A,30577.0,0.408325 00:24:30.0,-32.736213 -32:44:10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220164,2968.55774,10.858,10.881,10.857,10.862,10.862,0.024,0.026,0.024,0.022,0.027,A,81872.0,0.772996 00:46:22.8,25.382158 25:22:55.8
220165,3280.64884,10.661,10.649,10.660,10.669,10.696,0.041,0.040,0.034,0.034,0.050,A,117102.0,0.773031 00:46:22.9,25.382163 25:22:55.8
220166,2990.61153,10.120,10.137,10.110,10.120,10.116,0.028,0.027,0.027,0.025,0.032,A,84635.0,0.452449 00:27:08.8,-84.608978 -84:36:32.3
220167,3647.63698,12.949,12.719,12.822,12.851,13.007,0.028,0.034,0.034,0.028,0.029,A,160904.0,0.750934 00:45:03.4,-73.091168 -73:05:28.2
220168,3655.62791,10.770,10.749,10.767,10.753,10.790,0.028,0.037,0.026,0.025,0.033,A,162014.0,0.773031 00:46:22.9,25.382163 25:22:55.8

In [35]:
B_data = preprocessing(B_data, "2")
datadf = B_data.to_pandas()
datadf

,HJD,MAG_3,MAG_0,MAG_1,MAG_2,MAG_4,MER_3,MER_0,MER_1,MER_2,MER_4,GRADE,FRAME,RA,DEC
0,3615.64531,12.068,11.993,12.004,12.031,12.103,0.041,0.061,0.045,0.045,0.046,B,156899.0,0.895343 00:53:43.2,-72.287614 -72:17:15.4
1,3663.66246,11.587,11.635,11.583,11.586,11.587,0.043,0.078,0.044,0.040,0.048,B,163220.0,0.069891 00:04:11.6,-20.918504 -20:55:06.6
2,4437.54714,11.385,11.477,11.433,11.425,11.375,0.049,0.071,0.049,0.046,0.055,B,248249.0,0.069891 00:04:11.6,-20.918504 -20:55:06.6
3,2039.91843,12.262,12.147,12.267,12.263,12.267,0.036,0.077,0.036,0.032,0.038,B,19359.0,0.953311 00:57:11.9,-19.596475 -19:35:47.3
4,4092.62459,13.633,13.590,13.568,13.571,13.688,0.043,0.073,0.046,0.039,0.047,B,209511.0,0.654738 00:39:17.1,-72.033234 -72:01:59.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25467,3352.56508,11.366,11.415,11.382,11.361,11.350,0.049,0.099,0.051,0.045,0.052,B,123968.0,0.913244 00:54:47.7,23.119741 23:07:11.1
25468,3615.63452,12.472,12.557,12.580,12.540,12.414,0.042,0.061,0.051,0.052,0.055,B,156895.0,0.350129 00:21:00.5,-75.792172 -75:47:31.8
25469,4268.89291,9.551,9.523,9.495,9.522,9.555,0.062,0.054,0.051,0.054,0.069,B,228071.0,0.230427 00:13:49.5,25.551959 25:33:07.1
25470,3340.68026,11.313,11.292,11.316,11.321,11.354,0.056,0.084,0.055,0.052,0.062,B,122695.0,0.913244 00:54:47.7,23.119741 23:07:11.1
25471,3579.87521,12.957,13.375,13.226,13.089,12.968,0.045,0.077,0.044,0.040,0.048,B,152236.0,0.360230 00:21:36.8,5.227910 05:13:40.5

In [37]:
A_data['MAG_2']

<Column name='MAG_2' dtype='float64' length=220169>
 9.883
10.966
10.793
10.783
10.771
10.752
10.733
10.753
10.763
 10.79
10.789
10.827
   ...
 10.66
12.343
 10.13
13.504
10.721
10.897
 9.595
10.862
10.669
 10.12
12.851
10.753

In [36]:
A_data = Table([A_data[], b, c], names=('a', 'b', 'c'), meta={'name': 'first table'})

<Table length=220169>
   HJD      MAG_3   MAG_0  ...          RA                   DEC
 float64   float64 float64 ...        str22                 str22
---------- ------- ------- ... -------------------- ----------------------
1869.52275   9.882   9.905 ... 0.021658  00:01:18.0 -35.860717 -35:51:38.6
2578.68842  10.965  10.918 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2620.57565  10.805  10.804 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2624.64199  10.788  10.751 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2627.65078  10.764  10.807 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2629.64773  10.752  10.749 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
 2634.5963  10.736  10.737 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2636.61829  10.758   10.74 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2638.62782   10.77  10.779 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
2640.62568  10.793  10.799 ... 0.408325  00:24:30.0 -32.736213 -32:44:10.4
       ...     ...     ... ...                  ...                    ...
2990.60907  10.132  10.126 ... 0.452449  00:27:08.8 -84.608978 -84:36:32.3
1877.56744  13.506  13.514 ... 0.748117  00:44:53.2 -24.711496 -24:42:41.4
2185.62407  10.706  10.708 ... 0.510752  00:30:38.7 -75.835466 -75:50:07.7
2966.54512  10.899  10.881 ... 0.772996  00:46:22.8   25.382158 25:22:55.8
3704.59708   9.584   9.605 ... 0.253039  00:15:10.9 -60.223354 -60:13:24.1
2968.55774  10.858  10.881 ... 0.772996  00:46:22.8   25.382158 25:22:55.8
3280.64884  10.661  10.649 ... 0.773031  00:46:22.9   25.382163 25:22:55.8
2990.61153   10.12  10.137 ... 0.452449  00:27:08.8 -84.608978 -84:36:32.3
3647.63698  12.949  12.719 ... 0.750934  00:45:03.4 -73.091168 -73:05:28.2
3655.62791   10.77  10.749 ... 0.773031  00:46:22.9   25.382163 25:22:55.8